@font-face {
  font-family: 'Monitorica';
  src: url('Monitorica.eot');
  src: url('Monitorica.eot?#iefix') format('embedded-opentype'),
    url('Monitorica.woff2') format('woff2'), url('Monitorica.woff') format('woff'),
    url('Monitorica.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
