.site-navigation {
  margin: 50px auto;
  height: 65px;
  width: 70%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  border: 1px solid gray;

  span {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 0 20px;
    pointer-events: none;
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
    padding-right: 20px;

    li {
      font-size: 30px;
      a {
        display: block;
        text-decoration: none;
        margin: 0 20px 0 20px;
        color: $text-color;
        position: relative;
        transition: all 0.6s;
        &:before {
          content: '';
          width: 0;
          height: 0.025em;
          position: absolute;
          bottom: 6px;
          left: 50%;
          background: $text-color;
          transition: all 0.3s;
        }
        &:hover {
          &:before {
            width: 100%;
            left: 0;
            background: $text-color;
          }
        }
      }
    }
  }
}

.menu_active:before {
  content: '';
  height: 0.025em;
  position: absolute;
  bottom: 6px;
  background: $text-color;
  transition: all 0.3s;
  width: 100% !important;
  left: 0 !important;
  background: $text-color;
}
