#banner {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.calendar {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-size: 0.95em;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  .prevSub,
  .nextSub {
    font-size: 0.85em;
    color: #bdbdbd;
    display: flex;
    align-items: center;
  }
  .currentSub {
    display: flex;
    align-items: center;
    .now {
      font-size: 0.785em;
      //font-style: italic;
      color: #736d6d;
      margin-left: 8px;
    }
  }
  .time {
    text-align: center;
    display: block;
    width: 100px;
    font-size: 0.9em;
  }
  .name {
    display: block;
  }
}
