
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .title_block .call_form input[type=submit] {
        right: 3px!important;
        padding: 15px 15px!important;
        margin-top: 2px!important;
    }

    div.featured-link.link-to-service a {
        white-space: nowrap;
    }

    .wrapper .our_plus {
        margin: 0;
        padding: 15px;
    }

    .wrapper .our_plus_text h2 {
        font-size: 2.3rem;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .our_plus .our_plus_text .plus .one_plus .number_plus {
        font-size: 30px;
        line-height: inherit;
        margin-right: 0;
    }

    .our_plus .our_plus_text .plus .one_plus span:nth-child(2) {
        font-size: 18px;
        line-height: 1.5;
    }

    .our_plus .our_plus_text .plus .one_plus > p {
        font-size: 14px;
        padding-right: 15px;
    }


    .wrapper .our_main_product {
        padding: 30px 15px;
        text-align: center;
    }

    .wrapper .our_main_product .our_main_product_title {
        font-size: 2rem;
        line-height: 1.3;
    }

    .our_main_product .all_product {
        float: none !important;
        display: inline-block;
    }

    .wrapper .our_main_product .products .product img {
        padding: 10px 0 10px;
    }

    .our_main_product .products .product #coast {


    }

    .page-id-6 .wrapper .our_main_product .products > .product {
        margin: 10px 0 30px;
        padding: 20px 2% 20px;
    }

    .our_main_product .products .get_buy_popup {
        margin-bottom: 0;
    }

    .our_main_product .products .product h4 {
        height: auto !important;
        font-size: 1.3rem !important;
    }

    .our_main_product .products .product .get_buy_popup {
        padding: 20px 60px;
    }
    .pop_up #buyForm {
        width: auto!important;
    }
    #testimonial-slider-theme1{
        display: none!important;
    }
    .pop_up #buyForm h2{
        font-size: 1.5rem!important;
    }
    .our_plus_text .plus {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* about-menu */
    .wrapper .about_small {
        padding: 0 15px
    }

    .wrapper .about_small .about_small_inside {
        margin: 0 auto 30px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .text-block {
        padding: 0 15px
    }

    .text-block h2 {
        padding: 0;
        font-size: 1.5rem !important;
    }

    .text-block p, .text-block li {
        line-height: 1.5 !important;
        font-size: 14px !important;
    }


    /* about */
    .our_team.page_block{
        padding-top: 0!important;
    }
    .about_us_page .about_team p{
        margin-bottom: 0!important;
    }
    .about_us_page .block_title{
        display: none;
    }
    .about_us_page .right{
        display: none;
    }


    /* allservice START*/
    .about_small .about_small_inside h4 {
        font-size: 1.5rem !important;
        text-align: center !important;
    }

    .service_page .left, .service_page .right {
        width: 100% !important;
    }

    .service_page .our_services .block_title {
        font-size: 1.5rem !important;
        line-height: 1.3 !important;
    }

    .service_page .our_services .one_service i {
        margin: 10px 10px 10px 0 !important;
    }

    .service_bg {
        padding: 0 10px;
    }

    .service_page .page_block {
        padding: 80px 0 0 !important;
    }

    .our_services.page_block .right {
        display: none;
    }

    .service_page .our_services .one_service p {
        line-height: 1.5 !important;
        margin-bottom: 15px !important;
    }


    /* programm START*/
    .page_about_menu .all_item div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px !important;
        margin-bottom: 30px !important;
    }


    /* stock START*/
    .page-id-228 .service_bg {
        display: none;
    }


    /* contacts START*/
    .contact_page .office_info {
        margin-top: 0!important;
    }
    .contact_page .office_info div {
        margin-bottom: 15px!important;
    }
    .contact_page .office_info div p {
        padding-top: 0!important;
    }

    /* */
    .our_main_product .products .product{
        -webkit-box-flex: 0!important;
        -ms-flex: 0 0 100%!important;
        flex: 0 0 100%!important;
        width: auto!important;
        -webkit-box-sizing: border-box!important;
        box-sizing: border-box!important;
        padding: 20px 20px!important;
    }
    .page-id-220 .our_main_product .products .product .img{
        margin-bottom: 0;
    }
    .mobile_header.fixed-top{
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 111;
        top: 0;
    }
}