@import './variables';
@import '../fonts/fonts.scss';
@import './navigation.scss';
@import './pages.scss'; //Стили к страницам

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
/*
#scene {
  position: fixed;
  //left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  width: 110%;
  z-index: -1;
  background: url('../img/back.jpg');
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 300;
}

.marker {
  background: yellow;
}

strong {
  font-weight: bold;
}

.btn-primary {
  background: transparent;
  border-color: transparent;
}

//temp
/*
.info-block,
.site-navigation,
.list-item {
  background: #fdfdfd;
}

.page-directions .list-item {
  border-top: none;
  border-bottom: none;
}
*/
#ng_hat {
  position: absolute;
  left: 142px;
  top: -30px;
  transform: scale(-1, 1);
  @media (max-width: 1200px) {
    left: 114px;
  }
  @media (max-width: 992px) {
    left: -26px;
  }
}
